{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <section>
            <span>
                <p>
                </p>
            </span>
        </section>
        <section>
            <span>
                <p>
                </p>
            </span>
        </section>
        <section>
            <span>
                <p>
                </p>
            </span>
        </section>
        <section>
            <span>
                <p>
                </p>
            </span>
        </section>
        <section>
            <span>
                <p>
                </p>
            </span>
        </section>
        <section>
            <span>
                <p>
                </p>
            </span>
        </section>
    </div>
{% endblock content %}