{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <h2 class="todolist">Todo</h2>
    <!--
    <form action="" method="post">
        {% csrf_token %}
        <div class="input">
            <input type="text" required>
            <button type="submit" >Submit</button>
        </div>
    </form>
        <div class="output">
            {% for todo in todos %}
            <div id="output">
                <p class="title">{{todo}}</p>
                <a href=""><button type="submit" class="edit">Edit</button></a>
                <a href=""><button type="submit" class="delete">Delete</button></a>
            </div>
            {% endfor %}
        </div>  
        -->  
{% endblock content %}